<div class="jumbotron">
	<img src="images/karm.png">
	<h1>Karm <br>
		<small>What goes around, Karms around!</small>
	</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="text-center"><img src="images/buttons/running.png"></div>
			<h2 class="text-center">Help Others</h2>
			<p>Using Geolocation, Karms allows you to ask or provide help for the very people around you, allowing
				you to connect with your community.</p>
		</div>
		<div class="col-md-4">
			<div class="text-center"><img src="images/buttons/trophy.png"></div>
			<h2 class="text-center">Get Rewarded</h2>
			<p>Karm rewards you for helping others. From deals to coupons, tickets to actual cash, there are
				many ways good deeds get paid.</p>
		</div>
		<div class="col-md-4">
			<div class="text-center"><img src="images/buttons/profle.png"></div>
			<h2 class="text-center">Compete For Good</h2>
			<p>The more good deeds you do with people around you, the faster and stronger you level up with ranking
				on Karm. Compete with friends!</p>
		</div>
	</div>
</div>