footer {
	background: $navbar-default-bg;
	color: $navbar-default-color;
	min-height: $navbar-height;
	padding-top: $navbar-padding-vertical;
	padding-bottom: $navbar-padding-vertical;
	padding-left: $navbar-padding-horizontal;
	padding-right: $navbar-padding-horizontal;
	margin-top: $line-height-computed;
}